/* 


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #1e09dc;
        color: white;
    }
    
    .navbar-logo a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
    
    .navbar-links ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .navbar-links li {
        margin-left: 20px;
    }
    
    .navbar-links a {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    
    .navbar-links a:hover {
        color: #ddd;
    }  */
    


     /* Navbar.css */


/* Navbar.css */
/* .navbar-link-button{
    width: 80px;
    padding: 2px;
    color: white;
    background-color: rgb(7, 99, 220);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links ul li {
    display: inline;
    font-size: large;
}

.navbar-links ul li a,
.navbar-links ul li button {
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar-links ul li button:hover,
.navbar-links ul li a:hover {
    text-decoration: underline;
    color: blue;
} 

.navbar-logo{
    margin-left:100px;
}

.navbar-links{
    margin-right: 120px;
} */

/* .navbar-link-button {
    width: 80px;
    padding: 2px;
    color: white;
    background-color: rgb(7, 99, 220);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links ul li {
    font-size: large;
}

.navbar-links ul li a,
.navbar-links ul li button {
    text-decoration: none;
    color: rgb(13, 12, 12);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar-links ul li button:hover,
.navbar-links ul li a:hover {
    text-decoration: underline;
    color: blue;
} 

.navbar-links ul li .navbar-link-button {
    color: white;
}

.navbar-logo {
    margin-left: 100px;
}

.navbar-links {
    margin-right: 120px;
} */
